<footer class="footer">
    <div class="container footer__page">
        <ul class="footer_main">
            <li>
                <p class="footer-info">&copy; 2023 | All Rights Reserved |&nbsp;</p>
            </li>
            <li class="footer-developed">
                <p class="footer-text"> Developed with
                    <svg class="footer-icon-heart" width="14" height="13">
                        <use href="/src/images/footer_images/icons.svg#icon-icon_heart"></use>
                    </svg> by <a class="footer-link" data-modal__footer-open>GoIT Students</a>
                </p>
            </li>
        </ul>
    </div>
</footer>
