<header class="header__picture-library">
    <div class="container__header">
      <div class="header-wrapper">
        <a class="logo__header" href="index.html">
          <svg class="icon" width="20" height="20">
            <use href="./images/favicon.svg#icon-film"></use>
          </svg>
          <span class="js-logo-animation">Filmoteka</span>
        </a>
        <nav class="header-navigation">
          <ul class="header-navigation__list">
            <li><a class="menu__link " href="index.html" data-action="home">HOME</a></li>
            <li><a class="menu__link menu__link-active js-ref-mylib" href="library.html" data-action="library">MY LIBRARY</a></li>
          </ul>
        </nav>
      </div>
      <div class="header__library-btn">
        <button class="library-btns js-btn-watched active" type="button">Watched</button>
        <button class="library-btns js-btn-queue active" type="button">Queue</button>
      </div>
  
    </div>
  </header>
  