<!-- <button class="js-modal-open">Modal open</button> -->

<!-- is-hidden -->
<div class="description-backdrop js-backdrop is-hidden">
  <div class="description-modal">
    <button type="button" class="description-close-btn js-modal-close">
      <svg class="description-close-icon">
        <use href="./images/sprite-icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="description-modal_info">
      <div class="info">
        <div class="description-btn">
          <a href="#" class="card-list_link"
            ><button class="description-modal_btn watched js-watched is-hidden">
              add to Watched
            </button></a
          >
          <a href="#" class="card-list_link"
            ><button class="description-modal_btn queue js-queue is-hidden">
              add to queue
            </button></a
          >
        </div>
        <button
          class="description-modal_btn trailer js-modal-open-video is-hidden"
        >
          watch trailer
        </button>
        <div class="not_found is-hidden">The movie trailer was not found</div>
      </div>

      <!-- <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/v_Jc1MYFv5g"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe> -->
    </div>
  </div>
</div>
