<div class="backdrop is-hidden" data__footer-modal>
    <div class="footer-modal">
      <button type="button" class="footer__close-btn">
        <svg class="footer-icon-close" height="40" width="40">
          <use href="/src/images/footer_images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <div class="footer-modal-container">
            <h2 class="footer-section-title">Team G7</h2>
            <ul class="team-list">
                <li class="team-list-list">
                <img
                  class="team-foto"
                  src="/src/images/footer_images/tatiana-novitska.jpg"
                  alt="Tatiana"
                  width="90"
                  height="90"
                     />

                   <div class="name-position">
                       <h3 class="name">Tetiana Novitska</h3>
                        <p class="position">Team-lead</p>
                        <a href="https://github.com/novittana" target="_blank" class="team-soc-link link">
                          <svg class="team-soc-icon" width="32" height="32">
                            <use href="/src/images/footer_images/icons.svg#icon-git"></use>
                          </svg>
                        </a>      
                   </div>
                </li>
            <li class="team-list-list">
              <img
                  class="team-foto"
                  src="/src/images/footer_images/kapitonenko-tamara.jpg"
                  alt="Tamara"
                  width="90"
                  height="90"
                />
              <div class="name-position">
                <h3 class="name">Tamara Kapitonenko</h3>
                <p class="position">Scrum-master</p>
                <a href="https://github.com/iTommma" target="_blank" class="team-soc-link link">
                  <svg class="team-soc-icon" width="32" height="32">
                    <use href="/src/images/footer_images/icons.svg#icon-git"></use>
                  </svg>
                </a>
              </div>
            </li>
            <li class="team-list-list">
                <img
                    class="team-foto"
                    src="/src/images/footer_images/kulay-anastasia.jpg"
                    alt="Anastasia"
                    width="90"
                    height="90"
                  />
                <div class="name-position">
                  <h3 class="name">Anastasia Kulai</h3>
                  <p class="position"> Developer</p>
                  <a href="https://github.com/AnKulai" target="_blank" class="team-soc-link link">
                    <svg class="team-soc-icon" width="32" height="32">
                      <use href="/src/images/footer_images/icons.svg#icon-git"></use>
                    </svg>
                  </a>
                </div>
              </li>
            
            <li class="team-list-list">
              <img
                  class="team-foto"
                  src="/src/images/footer_images/kovalova-ekatherina.jpg"
                  alt="Ekatherina"
                  width="90"
                  height="90"
                />
              <div class="name-position">
                <h3 class="name">Kateryna Kovalova </h3>
                <p class="position">Developer</p>
                <a href="https://github.com/Kathryne-Kat" target="_blank" class="team-soc-link link">
                  <svg class="team-soc-icon" width="32" height="32">
                    <use href="/src/images/footer_images/icons.svg#icon-git"></use>
                  </svg>
                </a>
              </div>
            </li>
            <li class="team-list-list">
              <img
                  class="team-foto"
                  src="/src/images/footer_images/medvedeva-irina.jpg"
                  alt="Irina"
                  width="90"
                  height="90"
                />
              <div class="name-position">
                <h3 class="name">Irina Medvedeva</h3>
                <p class="position">Developer</p>
                <a href="https://github.com/certaindev" target="_blank" class="team-soc-link link">
                  <svg class="team-soc-icon" width="32" height="32">
                    <use href="/src/images/footer_images/icons.svg#icon-git"></use>
                  </svg>
                </a>
              </div>
            </li>
            <li class="team-list-list">
                <img
                    class="team-foto"
                    src="/src/images/footer_images/hanna-tubolets.jpg"
                    alt="Hanna"
                    width="90"
                    height="90"
                  />
  
                <div class="name-position">
                  <h3 class="name">Hanna Tubolets</h3>
                  <p class="position">Developer</p>
                  <a href="https://github.com/HannaTubolets" target="_blank" class="team-soc-link link">
                    <svg class="team-soc-icon" width="32" height="32">
                      <use href="/src/images/footer_images/icons.svg#icon-git"></use>
                    </svg>
                  </a>
                </div>
              </li>
            <li class="team-list-list">
              <img
                  class="team-foto"
                  src="/src/images/footer_images/kulibaba-ksenya.jpg"
                  alt="Ksenya"
                  width="90"
                  height="90"
                />
              <div class="name-position">
                <h3 class="name">Ksenya Kulibaba</h3>
                <p class="position"> Developer</p>
                <a href="https://github.com/Ksenya18" target="_blank" class="team-soc-link link">
                  <svg class="team-soc-icon" width="32" height="32">
                    <use href="/src/images/footer_images/icons.svg#icon-git"></use>
                  </svg>
                </a>
              </div>
            </li> 
          </ul>
          <ul>
            <li>
              <p class="about-text">More details:
                <a href="https://github.com/novittana/team-project-filmoteka" target="_blank" class="about">Filmoteka <svg class="icon-footer-about" width="20" height="20">
                  <use href="/src/images/footer_images/icons.svg#icon-film-footer"></use>
                </svg></a>
               
              </p> 
            </li>
          </ul>
      </div>
    </div>
</div>

